{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
{{ single_post.prod_name }}
{% endblock %}
   


{% block content %}
<div class="page-header">
        <h3>{{ single_post.pst_title }}</h3>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="{{ single_post.img_url }}" class="img-fluid" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <table class="table table-bordred">
                            <tr>
                                <th>Fields</th>
                                <th>Data</th>
                            </tr>
                            {% if single_post %}
                                <tr>
                                    <td>Post Title</td>
                                    <td>{{ single_post.pst_title }}</td>
                                </tr>
                                <tr>
                                    <td>Post Image</td>
                                    <td><img src="{{ p.img_url }}" alt=" {{ p.pst_image }}"></td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td>{{ single_post.category }}</td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td>{{ single_post.user }}</td>
                                </tr>
                                <tr>
                                    <td>Content</td>
                                    <td>{{ single_post.content }}</td>
                                </tr>
                           {% endif %}
                            
                        </table>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'blog:add_post' %}" class="btn btn-primary">Add Post</a>
                        {% if single_post %}
                        <a href="{% url 'blog:edit_post' single_post.id %}" class="btn btn-primary">Edit Post</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}