{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Blog
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="#">Home    </a></li>
                    <li><a href="#">Blog    </a></li>
                    
                </ol><!-- Block  Breadcrumb-->

                <div class="row">

                    
                    <!-- Main Content -->
                    <div class="col-md-9 col-md-push-3  col-main ">
                        <h2 class="page-heading">
                            <span class="page-heading-title2">Blog post</span>
                        </h2>
                        <div class="sortPagiBar clearfix">
                            <span class="page-noite">Showing 1 to 7 of 45 (15 Pages)</span>
                            <div class="bottom-pagination">
                                <nav>
                                    <ul class="pagination">
                                      {% if person_page_obj.has_previous %}
                                      <li>
                                        <a href="?page={{ person_page_obj.previous_page_number }}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo; Previous </span>
                                        </a>
                                      </li>
                                      {% endif %}
                                      {% for i in person_page_obj.paginator.page_range %}
                                      {% if movies.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                       {% endfor %}
                                      {% if person_page_obj.has_next %}
                                      <li>
                                        <a href="?page={{ person_page_obj.next_page_number }}" aria-label="Next">
                                          <span aria-hidden="true">Next &raquo;</span>
                                        </a>
                                      </li>
                                      {% else %}
                                      <li class="page-item disabled">
                                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                      </li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                            </div>
                        </div>
                        <ul class="blog-posts">
                            {% if person_page_obj %}
                            {% for e in person_page_obj %}
                            <li class="post-item">
                               
                                <article class="entry">
                                    <div class="row">
                                       
                                        <div class="col-sm-5">
                                            <div class="entry-thumb image-hover2">
                                                <a href="{{ e.img_url }}">
                                                    <img src="{{ e.img_url }}" style="max-height: 250px; min-height: 250px;" alt="Blog">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="entry-ci">
                                                <h3 class="entry-title"><a href="#">{{ e.pst_title}}</a></h3>
                                                <div class="entry-meta-data">
                                                    <span class="author">
                                                    <i class="fa fa-user"></i> 
                                                    by: <a href="#">{{ e.user }}</a></span>
                                
                                                   
                                                    <span class="date"><i class="fa fa-calendar"></i> {{e.created }}</span>
                                                </div>
                                               
                                                <div class="entry-excerpt">
                                                    {{ e.content|safe|truncatewords:100| slice:":400"  }}
                                                </div>
                                                <div class="entry-more">
                                                    <a href="{% url 'blog:blog_single_post' e.id %}">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </article>
                               
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="sortPagiBar clearfix">
                            <div class="bottom-pagination">
                                <nav>
                                    <ul class="pagination">
                                      {% if person_page_obj.has_previous %}
                                      <li>
                                        <a href="?page={{ person_page_obj.previous_page_number }}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo; Previous </span>
                                        </a>
                                      </li>
                                      {% endif %}
                                      {% for i in person_page_obj.paginator.page_range %}
                                      {% if movies.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                       {% endfor %}
                                      {% if person_page_obj.has_next %}
                                      <li>
                                        <a href="?page={{ person_page_obj.next_page_number }}" aria-label="Next">
                                          <span aria-hidden="true">Next &raquo;</span>
                                        </a>
                                      </li>
                                      {% else %}
                                      <li class="page-item disabled">
                                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                      </li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                            </div>
                        </div>
                    </div><!-- Main Content -->
                    
                    <!-- Sidebar -->
                    <div class=" col-md-3 col-md-pull-9   col-sidebar">

                        <!-- Block  categorie-->
                        <div class="block-sidebar block-sidebar-categorie">
                            <div class="block-title">
                                <strong>PRODUCT TYPES</strong>
                            </div>
                            <div class="block-content">
                                <ul class="items">
                                    <li class="parent">
                                        <a href="">Dress</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="subcategory">
                                            <li >
                                                <a href="">subcategory 1</a>
                                                
                                            </li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Bags</a>
                                    </li>
                                    <li class="parent">
                                        <a href="">Cost &amp; Jackets</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="subcategory">
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a href="">Beauty</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="subcategory">
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a href="">Jewellery</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="subcategory">
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a href="">Nightwear</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="subcategory">
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a href="">Jumpers &amp; Cardigans</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="subcategory">
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                            <li><a href="">subcategory 1</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- Block  categorie-->

                         <!-- Block  Popular Posts-->
                        <div class="block-sidebar block-PopularPosts">
                            <div class="block-title">
                                <strong>Popular Posts</strong>
                            </div>
                            <div class="block-content">
                                <ul class="blog-list-sidebar clearfix">
                                    <li>
                                        <div class="post-thumb">
                                            <a href="#"><img alt="Blog" src="{% static 'prairiemartapp/images/media/detail/blog-thumb1.jpg' %}"></a>
                                        </div>
                                        <div class="post-info">
                                            <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <div class="post-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> 2014-08-05</span>
                                                <span class="comment-count">
                                                    <i class="fa fa-comment-o"></i> 3
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-thumb">
                                            <a href="#"><img alt="Blog" src="{% static 'prairiemartapp/images/media/detail/blog-thumb2.jpg' %}"></a>
                                        </div>
                                        <div class="post-info">
                                            <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <div class="post-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> 2014-08-05</span>
                                                <span class="comment-count">
                                                    <i class="fa fa-comment-o"></i> 3
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-thumb">
                                            <a href="#"><img alt="Blog" src="{% static 'prairiemartapp/images/media/detail/blog-thumb3.jpg' %}"></a>
                                        </div>
                                        <div class="post-info">
                                            <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <div class="post-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> 2014-08-05</span>
                                                <span class="comment-count">
                                                    <i class="fa fa-comment-o"></i> 3
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- Block  Popular Posts-->

                        <!-- Block RecentComments-->
                        <div class="block-sidebar block-sidebar-RecentComments">
                            <div class="block-title">
                                <strong>Recent Comments</strong>
                            </div>
                            <div class="block-content">
                                <ul class="recent-comment-list">
                                    <li>
                                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                        <div class="comment">
                                            "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                        </div>
                                        <div class="author">Posted by <a href="#">Admin</a></div>
                                    </li>
                                    <li>
                                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                        <div class="comment">
                                            "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                        </div>
                                        <div class="author">Posted by <a href="#">Admin</a></div>
                                    </li>
                                    <li>
                                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                        <div class="comment">
                                            "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                        </div>
                                        <div class="author">Posted by <a href="#">Admin</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- Block  RecentComments-->

                        <div class="block-sidebar block-sidebar-tags">
                            <div class="block-title">
                                <strong>product tags</strong>
                            </div>
                            <div class="block-content">
                                <ul>              
                                    <li><a class="lv2" href="">actual</a></li>
                                    <li><a class="lv1" href="">adorable</a></li>
                                    <li><a class="lv3" href="">amaze</a></li>
                                    <li><a class="lv5" href="">change</a></li>
                                    <li><a class="lv2" href="">consider</a></li>
                                    <li><a class="lv1" href="">delivery</a></li>
                                    <li><a class="lv1" href="">Top</a></li>
                                    <li><a class="lv4" href="">flexib</a></li>
                                    <li><a class="lv1" href="">phenomenon </a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- block slide top -->
                        <div class="block-sidebar block-banner-sidebar">
                            <div class="owl-carousel" 
                                data-nav="false" 
                                data-dots="true" 
                                data-margin="0" 
                                data-items='1' 
                                data-autoplayTimeout="700" 
                                data-autoplay="true" 
                                data-loop="true">
                                <div class="item item1" >
                                   <img src="{% static 'prairiemartapp/images/media/detail/banner-slide2.jpg' %}" alt="images">
                                </div>
                                <div class="item item2" >
                                   <img src="{% static 'prairiemartapp/images/media/detail/banner-slide2.jpg' %}" alt="images">
                                </div>
                                <div class="item item3" >
                                   <img src="{% static 'prairiemartapp/images/media/detail/banner-slide2.jpg' %}" alt="images">
                                </div>
                            </div>
                        </div><!-- block slide top -->

                       

                        <!-- block slide top -->
                        <div class="block-sidebar block-sidebar-testimonials2">
                           
                            <div class="block-content">
                                <div class="owl-carousel" 
                                    data-nav="false" 
                                    data-dots="true" 
                                    data-margin="0" 
                                    data-items='1' 
                                    data-autoplayTimeout="700" 
                                    data-autoplay="true" 
                                    data-loop="true">
                                    <div class="item " >
                                        <div class="img">
                                            <img src="{% static 'prairiemartapp/images/icon/icon1.png' %}" alt="icon1">
                                       </div>
                                       <strong class="title">100% Money Back Guaranteed</strong>
                                       <div class="des">
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt .
                                       </div>
                                       <a href="" class="btn">Read more <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- block slide top -->


                    </div><!-- Sidebar -->
                    
                   

                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}