<div class="product-item-info">
    <h5 style="color: black;">Hello <strong>{{ request.user.user_name}}</strong> <a href="#customerLogout" data-toggle="modal" style="color: blue;">Logout</a> ) </h5>
    <br>
    <p style="color: black;">
        From your account dashboard you can view your <a href="" style="color: blue;">recent orders,</a>manage your
        <a href="" style="color: blue;">shipping and billing addreses</a>, and <a href="" style="color: blue;">edit your password</a> and <a href="" style="color: blue;">account details</a>.
    </p>

</div>