{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Dashboard
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        

                <div class="page-content page-order">
                    <div class="row">
                        <div class="col-md-3">
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Dolor, vero! Numquam quaerat facere officiis consequuntur tenetur doloremque quam doloribus eos! Modi pariatur, eveniet odit voluptatibus debitis blanditiis? Temporibus, consequuntur quae?
                            </p>
                        </div>
                    </div>
                   
                </div>
                <br>
            </div>


		</main><!-- end MAIN -->

		<!-- FOOTER -->
 {% endblock %}