{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Edit Profile
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">
            <div class="row">
                <div class="col-md-12 col-md-push-1   col-main" style="margin-top: 50px;">
            <h2 class="page-heading">
                <span class="page-heading-title2">My Account</span>
            </h2>
            </div>
            </div>
            <div class="block-section-top block-section-top13" style="margin-top:2%" >
                <div class="container" >
                    <div class="box-section-top" >
                       {% include 'prairiemartapp/customer-sidebar.html' %}
                        <!-- block slide top -->
                        <div>
                        <div class="block-slide-main slide-opt-13" style="margin-bottom: 60%;">
                            {% include 'prairiemartapp/customer-header.html' %}
                            <div class="product-item-photo text-dark">

                               <form method="post">
                                   <div class="box-authentication">
                                    {% include 'dashboard/form-snippet.html' with form=edit %}
                                    <button type="submit" class="button">Edit Profile</button>
                                    <a href="{% url 'prairiemartapp:edit_form' %}">View Profile</a>
                                   </div>
                               </form>
                            </div>   
                        </div>
                        {% include 'prairiemartapp/confirm-logout.html' %}
                       
                        </div>
                    </div>
                </div>
            </div>

            
		</main><!-- end MAIN -->

		<!-- FOOTER -->
 {% endblock %}