{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title%}
Forget Password
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="#">Home    </a></li>
                    <li><a href="#">Blog    </a></li>
                    <li class="active">Ut pharetra augue nec augue integer rutrum ante eu lacus</li>
                </ol><!-- Block  Breadcrumb-->

                <h2 class="page-heading">
                    <span class="page-heading-title2">Authentication</span>
                </h2>

                <div class="page-content">
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <form method="POST">
                                <div class="box-authentication">
                                    {% include 'dashboard/form-snippet.html' with form=reset %}
                                    <div class="form-group col-md-12">
                                        <p class="forgot-pass"><a href="{% url 'dashboard:login_view' %}">Click To Signin</a></p>
                                    </div>
                                    <button type="submit" class="button"><i class="fa fa-lock"></i> Reset Password</button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}