{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Login
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="#">Home    </a></li>
                    <li><a href="#">Blog    </a></li>
                    <li class="active">Ut pharetra augue nec augue integer rutrum ante eu lacus</li>
                </ol><!-- Block  Breadcrumb-->

                <h2 class="page-heading">
                    <span class="page-heading-title2">Authentication</span>
                </h2>

                <div class="page-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="POST">
                                <div class="box-authentication">
                                    <h3>Already registered?</h3>
                                    {% if messages %}
                                        {% for mes in messages %}
                                            <div class="alert alert-danger">{{ mes }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    <label for="emmail_login">Email address</label>
                                    <input type="email" name="email" class="form-control" id="emmail_login">
                                    <label for="password_login">Password</label>
                                    <input type="password" name="password" class="form-control" id="password_login">
                                    <p class="forgot-pass"><a href="{% url 'dashboard:password_reset' %}">Forgot your password?</a></p>
                                    <button type="submit" class="button"><i class="fa fa-lock"></i> Sign in</button>
                                    <a href="{% url 'dashboard:reg_customer' %}" class="button"><i class="fa fa-user"></i> Register</a>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}