
{% load static %}
<div class=" header-nav mid-header">
    <div class="container">
        <div class="box-header-nav">

            <span data-action="toggle-nav-cat" class="nav-toggle-menu nav-toggle-cat"><span>Categories</span><i aria-hidden="true" class="fa fa-bars"></i></span>

            <span data-action="toggle-nav" class="nav-toggle-menu"><span>Menu</span><i aria-hidden="true" class="fa fa-bars"></i></span>
            
            <!-- categori -->
            <div class="block-nav-categori">

                <div class="block-title">
                    <span>All categories</span>
                </div>

                <div class="block-content">
                    <div class="clearfix"><span data-action="close-cat" class="close-cate"><span>Categories</span></span></div>
                    <ul class="ui-categori">
                        <li class="parent">
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat1.png' %}" alt="nav-cat"></span>
                                Electronics
                            </a>
                            <span class="toggle-submenu"></span>
                            <div class="submenu" style="background-image: url(static/prairiemartapp/images/media/index1/bgmenu.jpg);">
                                <ul class="categori-list clearfix">
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">Smartphone</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">TElevision</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">Camera</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="categori-list clearfix">
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">Smartphone</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">TElevision</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">Camera</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="parent">
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat2.png' %}" alt="nav-cat"></span>
                                Sports & Outdoors
                            </a>
                            <span class="toggle-submenu"></span>
                            <div class="submenu">
                                <div class="categori-img">
                                    <a href=""><img src="{% static 'prairiemartapp/images/media/index1/categori-img1.jpg' %}" alt="categori-img"></a>
                                </div>
                                <ul class="categori-list">
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">Smartphone</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">TElevision</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">Camera</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <strong class="title"><a href="">washing machine</a></strong>
                                        <ul>
                                            <li><a href="">Skirts    </a></li>
                                            <li><a href="">Jackets</a></li>
                                            <li><a href="">Jumpusuits</a></li>
                                            <li><a href="">Scarvest</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="parent">
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat3.png' %}" alt="nav-cat"></span>
                                Smartphone & Tablets
                            </a>
                            <span class="toggle-submenu"></span>
                            <div class="submenu">
                                <strong class="subtitle"><span>special products</span></strong>
                                <div class="owl-carousel" 
                                    data-nav="true" 
                                    data-dots="false" 
                                    data-margin="30" 
                                    data-autoplayTimeout="300" 
                                    data-autoplay="true" 
                                    data-loop="true"
                                    data-responsive='{
                                    "0":{"items":1},
                                    "380":{"items":1},
                                    "480":{"items":1},
                                    "600":{"items":1},
                                    "992":{"items":4}
                                    }'>
                                    
                                    <div class="product-item product-item-opt-1">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a class="product-item-img" href=""><img alt="product name" src="{% static 'prairiemartapp/images/media/index1/product-menu1.jpg' %}"></a>
                                            </div>
                                            <div class="product-item-detail">
                                                <strong class="product-item-name"><a href="">Asus Ispiron 20</a></strong>
                                                <div class="product-item-price">
                                                    <span class="price">$45.00</span>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item product-item-opt-1">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a class="product-item-img" href=""><img alt="product name" src="{% static 'prairiemartapp/images/media/index1/product-menu2.jpg' %}"></a>
                                            </div>
                                            <div class="product-item-detail">
                                                <strong class="product-item-name"><a href="">Electronics Ispiron 20 </a></strong>
                                                <div class="product-item-price">
                                                    <span class="price">$45.00</span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item product-item-opt-1">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a class="product-item-img" href=""><img alt="product name" src="{% static 'prairiemartapp/images/media/index1/product-menu3.jpg' %}"></a>
                                            </div>
                                            <div class="product-item-detail">
                                                <strong class="product-item-name"><a href="">Samsung Ispiron 20 </a></strong>
                                                <div class="product-item-price">
                                                    <span class="price">$45.00</span>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item product-item-opt-1">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a class="product-item-img" href=""><img alt="product name" src="{% static 'prairiemartapp/images/media/index1/product-menu4.jpg' %}"></a>
                                            </div>
                                            <div class="product-item-detail">
                                                <strong class="product-item-name"><a href="">Electronics Ispiron 20 </a></strong>
                                                <div class="product-item-price">
                                                    <span class="price">$45.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item product-item-opt-1">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a class="product-item-img" href=""><img alt="product name" src="{% static 'prairiemartapp/images/media/index1/product-menu4.jpg' %}"></a>
                                            </div>
                                            <div class="product-item-detail">
                                                <strong class="product-item-name"><a href="">Samsung Ispiron 20 </a></strong>
                                                <div class="product-item-price">
                                                    <span class="price">$45.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat4.png' %}" alt="nav-cat"></span>
                                Health & Beauty
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat5.png' %}" alt="nav-cat"></span>
                                Bags, Shoes & Accessories
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat6.png' %}" alt="nav-cat"></span>
                                Toys & Hobbies
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat7.png' %}" alt="nav-cat"></span>
                                Computers & Networking
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat8.png' %}" alt="nav-cat"></span>
                                Laptops & Accessories
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat9.png' %}" alt="nav-cat"></span>
                               Jewelry  & Watches
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat10.png' %}" alt="nav-cat"></span>
                                Flashlights & Lamps
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon"><img src="{% static 'prairiemartapp/images/icon/index3/nav-cat11.png' %}" alt="nav-cat"></span>
                                Cameras & Photo
                            </a>
                        </li>
                        
                    </ul>
                   
                </div>
                
            </div><!-- categori -->

            <!-- menu -->
            <div class="block-nav-menu">
                <div class="clearfix"><span data-action="close-nav" class="close-nav"><span>close</span></span></div>
                <ul class="ui-menu">
                    <li class="parent parent-megamenu active">
                        <a href="{% url 'index' %}">Home</a>
                        <span class="toggle-submenu"></span>
                        <div class="megamenu drop-menu">
                            <ul>
                                <li class="col-md-3">
                                    <strong class="title"><a href=""><span>Home </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="home1.html">Home page 1</a></li>
                                        <li><a href="home2.html">Home page 2</a></li>
                                        <li><a href="home3.html">Home page 3</a></li>
                                        <li><a href="home4.html">Home page 4</a></li>
                                        <li><a href="home5.html">Home page 5</a></li>
                                        <li><a href="home6.html">Home page 6</a></li>
                                        <li><a href="home7.html">Home page 7</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <strong class="title"><a href=""><span>Home </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="home8.html">Home page 8</a></li>
                                        <li><a href="home9.html">Home page 9</a></li>
                                        <li><a href="home10.html">Home page 10</a></li>
                                        <li><a href="home11.html">Home page 11</a></li>
                                        <li><a href="home12.html">Home page 12</a></li>
                                        <li><a href="home13.html">Home page 13</a></li>
                                        <li><a href="home14.html">Home page 14</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <strong class="title"><a href=""><span>Page </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="{% url 'dashboard:login_view' %}">Login</a></li>
                                        <li><a href="{% url 'prairiemartapp:about' %}">About</a></li>
                                        <li><a href="{% url 'prairiemartapp:contact' %}">Contact</a></li>
                                        <li><a href="{% url 'blog:blogpost' %}">Blog</a></li>
                                        <li><a href="{% url 'blog:blog_details' %}">Blog Post</a></li>
                                        <li><a href="{% url 'prairiemartapp:checkout' %}">Checkout</a></li>
                                        <li><a href="{% url 'prairiemartapp:order' %}">Order</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <strong class="title"><a href=""><span>Page </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="{% url 'prairiemartapp:category_grid' %}">Category 1</a></li>
                                        <li><a href="{% url 'prairiemartapp:category_list' %}">Category 2</a></li>
                                        <li><a href="{% url 'prairiemartapp:product' %}">Product 1</a></li>
                                        <li><a href="Product2.html">Product 2</a></li>
                                        <li><a href="Product3.html">Product 3</a></li>
                                        <li><a href="{% url 'prairiemartapp:wishlist' %}">WishList </a></li>
                                        <li><a href="{% url 'prairiemartapp:compare' %}">Compare</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="parent parent-submenu">
                        <a href="{% url 'prairiemartapp:contact' %}"> Fashion  </a>
                        <span class="toggle-submenu"></span>
                        <div class="submenu drop-menu">
                            <ul >
                                <li><a href="">Shoes</a></li>
                                <li><a href="">Clothing</a></li>
                                <li><a href="">Accessories</a></li>
                                <li><a href="">Sunglasses</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="">Sports <span class="label-menu">New</span></a></li>
                    <li class="parent parent-megamenu">
                        <a href="">Electronics  </a>
                        <span class="toggle-submenu"></span>
                        <div class="megamenu drop-menu">
                            <ul>
                                <li class="col-md-3">
                                    <div class="img-categori">
                                        <a href=""><img alt="img" src="{% static 'prairiemartapp/images/media/index1/img-categori1.jpg' %}"></a>
                                    </div>
                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                   
                                    <div class="img-categori">
                                        <a href=""><img  alt="img"  src="{% static 'prairiemartapp/images/media/index1/img-categori2.jpg' %}"></a>
                                    </div>
                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    
                                    <div class="img-categori">
                                        <a href=""><img alt="img"  src="{% static 'prairiemartapp/images/media/index1/img-categori3.jpg' %}"></a>
                                    </div>
                                    <strong class="title"><a href=""> <span>Kid's</span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    
                                    <div class="img-categori">
                                        <a href=""><img alt="img"  src="{% static 'prairiemartapp/images/media/index1/img-categori4.jpg' %}"></a>
                                    </div>
                                    <strong class="title"><a href=""><span>Trending</span> </a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="parent parent-megamenu">
                        <a href="Contact.html">Digital </a>
                        <span class="toggle-submenu"></span>
                        <div class="megamenu drop-menu">
                            <ul>
                                <li class="col-md-3">
                                    
                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>

                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>

                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    
                                    <strong class="title"><a href=""> <span>Kid's</span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>

                                    <strong class="title"><a href=""><span>Women's </span></a></strong>
                                    <ul class="list-submenu">
                                        <li><a href="">Shoes</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Sunglasses</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <div class="img-categori">
                                        <a href=""><img alt="img" src="{% static 'prairiemartapp/images/media/index1/img-categori5.jpg' %}"></a>
                                    </div>
                                   
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"> Jewelry  </a></li>
                    <li><a href="Blog.html">Blog</a></li>
                </ul>

            </div><!-- menu -->
            
        </div>
    </div>
</div>
