<ul class="pagination">
    {% if page.has_previous %}
    <li class="action">
        <a href="?page={{ page.previous_page_number }}">
            <span><i aria-hidden="true" class="fa fa-angle-left"></i></span>
        </a>
    </li>
    <li class="">
        <a href="?page={{ page.previous_page_number }}">{{ page.previous_page_number}}</a>
    </li>
    <li class="active">
        <a href="#">{{ page.number}}</a>
    </li>
    {% endif %}
    {% if page.has_next %}
    <li class="active">
        <a href="#">{{ page.number}}</a>
    </li>
    <li class="active">
        <a href="?page={{ page.next_page_number }}">{{ page.next_page_number}}</a>
    </li>
    <li class="action">
        <a href="?page={{ page.next_page_number }}">
            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
        </a>
    </li>
    {% endif %}
</ul>