{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Password Reset Complete
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="#">Home    </a></li>
                    <li><a href="#">Blog    </a></li>
                    <li class="active">Ut pharetra augue nec augue integer rutrum ante eu lacus</li>
                </ol><!-- Block  Breadcrumb-->
                <h2 class="page-heading">
                    <span class="page-heading-title2">Password Reset Complete</span>
                </h2>
                <div class="page-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-authentication">
                                <h3 class="mb-4">
                                    The password have been completed successfully
                                </h3>
                                <a href="{% url 'dashboard:login_view' %}" class="button">Click To Login</a>

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}