{% extends 'prairiemartapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Confirm Password
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="#">Home    </a></li>
                    <li><a href="#">Blog    </a></li>
                    <li class="active">Ut pharetra augue nec augue integer rutrum ante eu lacus</li>
                </ol><!-- Block  Breadcrumb-->
                <h2 class="page-heading">
                    <span class="page-heading-title2">Confirm Password</span>
                </h2>
                <div class="page-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="POST">
                                <div class="box-authentication">
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <div class="alert alert-danger">{{ field.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                     {% csrf_token %}
                                
                                    <button type="submit" class="button"><i class="fa fa-lock"></i> Confirm Password</button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}