{% extends 'auth/base.html' %}
{% load static %}
{% block title %}
Forget Password
{% endblock %}

{% block content %}
<h4>Forget Password</h4>
<form class="pt-3" method="POST">
    {% include 'dashboard/form-snippet.html' with form=reset %}
    <div class="mt-3">
      <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Submit</button>
    </div>
    <div class="my-2 d-flex justify-content-center align-items-center">
      <a href="#" class="auth-link text-black">SIGN IN?</a>
    </div>
</form>
{% endblock %}